// #masVistos
//     .card-group
//         .card
//             img
//                 width: 382px
//                 height: 180px
//                 margin: auto
//             .card-body
//                 h5
//                     text-align: center
#masVistos
    width: 100%
    height: auto
.wrap
    display: flex
    flex-wrap: wrap
    height: auto
    margin: auto
    justify-content: center
.card
    display: flex
    flex-direction: row
    margin: 5px

.card-pic-wrap img
    height: 326px
    width: 216px